.error-field {
    border: 2px solid #FF0000 !important;
}
.error-msg{ display: none;}
#clsimg, .refresh{cursor:pointer;}

.wiziq_errors{ color: #FF0000; font-size: 12px;}
.hide-class-recurring, .hide-class-end, #edit-end-container{ display: none; }

.pop_dis{display:none;}
.full-des{display:none;}

span.pop_dis { background: none repeat scroll 0 0 #444444; border-radius: 5px; bottom: 20px; color: #FFFFFF; max-width: 135px; padding: 6px 10px; position: absolute; right: -4px;}
.divdes { position: relative;}

.form-item.form-type-select.form-item-time-zone {
    position: relative;
    margin-top: 100px;
    width: 280px;
}

.form-item.form-type-select.form-item-minutes {
    display: block;
    float: left;
    margin-top: 20px;
    width: 60px;
}

.form-item.form-type-select.form-item-hours {
    float: left;
    margin-top: 20px;
    position: relative;
    width: 51px;
}

.form-item.form-type-date.form-item-class-start-date {
    float: left;
    width: 209px;
}

.form-item.form-type-radio.form-item-recurring-check {
    float: left;
    margin: 0 0 8px;
    width: 206px;
}

.show-check-recurring, .form-item.form-type-checkbox.form-item-right-now  {
    width: 400px;
}
.disp_element{display:none}

select#wiziq-enroll-user, select#wiziq-all-user {
    border: 1px solid #CCCCCC;
    width: 100%;
}
#enrolluser-form table input[type="button"] {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 5px;
    color: #000000;
    margin-bottom: 4px;
    padding: 5px 10px;
}
